// colors
$brand-light: #e5D702;
$brand-dark: #333;
$light-grey: #f3f3f3;
$white: #fff;

// font-sizes
$small-font: 11px;
$nav-font: 14px;
$basic-font: 16px;
$small-head-font: 25px;
$large-head-font: 40px;
