// colors
$yellow: #e5D702;
$dark-grey: #333;
$light-grey: #5f5;
$white: #fff;

// font-sizes
$small-font: 12px;
$nav-font: 15px;
$basic-font: 16px;
$small-head-font: 25px;
$large-head-font: 50px;




