@import 'variables.scss';

.search-btn {
  background-color: $brand-light;
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 35px;
  height: 30px;

  &:hover {
    background-color: darken($brand-light, 2%);
  }
}

.register-btn {
  background-color: $brand-light;
  border-radius: 0;
  border: 0;
  padding: 5px;

  .register-link {
    color: $white;
  }

  &:hover {
    background-color: darken($brand-light, 2%);
  }
}

.light-btn {
  background-color: $brand-light;
  border: 0;
  border-radius: 0;
  width: 230px;
  height: 75px;

  a,
  a:hover {
    color: $brand-dark;
    text-decoration: none;
    text-transform: uppercase;
  }

  &:hover {
    background-color: darken($brand-light, 2%);
  }
}

.light-ghost-btn {
  background-color: transparent;
  border: 2px solid $brand-light;
  border-radius: 0;
  width: 230px;
  height: 75px;

  a,
  a:hover {
    color: $brand-light;
    text-decoration: none;
    text-transform: uppercase;
  }

  &:hover {
    border: 2px solid $brand-light;
  }
}

.offer-btn {
  font-size: $small-font;
  height: 60px;

  a {
    padding: 10px;
  }

  &:hover {
    background: $brand-light;

    a {
      color: $white;
    }
  }
}

.contact-btn {
  height: 50px;

  a,
  a:hover {
    color: $light-grey;
  }
}

.newsletter-btn {
  border-radius: 0;
  border: 0;
  font-size: $small-font;
  color: $brand-dark;
  background-color: $brand-light;
  text-transform: uppercase;
  padding: 10px;
}

.info-btn {
  font-size: $small-font;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 20px;

  a,
  a:hover {
    color: $white;
  }
}

.submit {
  margin-left: -5%;
  position: relative;
  z-index: 1;
}
