.form-arrow {
  border-top: 50px solid $white;
  position: relative;
  z-index: 1;
}

.form-section {
  text-align: center;
  height: 450px;
  position: relative;
  z-index: 1;

  .overlay {
    background-color: rgba(0, 0, 0, .7);
  }
}

.message,
.data {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    width: 320px;
    margin-top: 20px;
    border: 0;
    border-radius: 0;

    &:focus {
      border: 1px solid $brand-light;
    }
  }

  textarea {
    height: 150px;
  }
}

.message {
  margin-left: 15%;
}
