.arrow-left {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid $brand-light;
  margin-left: 30px;
}

.info-arrow {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid $brand-dark;
  margin: auto;
}

.contact-bar {
  display: flex;
  justify-content: space-between;
  background: $brand-dark;
  color: $white;
  font-family: 'arimoregular';
  text-transform: uppercase;
  position: relative;
  z-index: 1;

  h3 {
    font-size: $small-head-font !important;
    text-align: center;
    letter-spacing: 1px;
    margin: 5px 35px 5px 0;
  }
}

.info-section {
  background: $white;
  position: relative;
  z-index: 1;
  padding-bottom: 30px;

  p {
    margin: 5px;
  }

  .columns {
    margin-top: 50px;
  }
}

.info-phone {
  margin-top: 5%;
  margin-left: 30%;
}

.info-column.six {
  width: 50%;
}

.address-column.six {
  width: 46%;
}

.info-address {
  margin: auto;
  text-align: center;
}
