.about-section {
  background-image: url('../images/scheme.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 900px;
  color: $brand-dark;
  height: 900px;

  .about-title {
    color: $brand-light;
    font-size: $large-head-font;
    margin-top: 20px;
    text-transform: uppercase;
  }
}

.about-bg-color {
  background-color: $light-grey;
  height: 400px;
  position: relative;
  z-index: 1;
}

.about-arrow {
  border-top: 50px solid #000;
}
