.about-section {
  background-image: url('../images/scheme.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 900px;
  color: $dark-grey;
  height: 900px;
  position: relative;
  z-index: 1;

  h2 {
    color: $yellow;
    font-size: $large-head-font;
    margin-top: 20px;
    text-transform: uppercase;
  }
}

.about-bg-color {
  background-color: $light-grey;
  height: 380px;
  position: relative;
  z-index: 0;
}

.about-arrow {
  border-top: 50px solid $light-grey;
  margin-top: 18px;
}

.float-right {
  float: right;
}

.bold {
  font-weight: 900;
}
