.contact-section {
  font-family: 'arimoregular';
  background-image: url('../images/map.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px;
  position: relative;
  padding-top: 0;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .8);
}

.contact-info {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $brand-dark;

  .contact-title {
    font-size: $large-head-font;
  }

  .contact-subtitle {
    font-size: $small-head-font;
  }
}

.contact-arrow {
  border-top: 50px solid $white;
}
