.header-navigation {
  display: flex;
  justify-content: space-between;
  font-size: $small-font;
  color: $dark-grey;
  margin: 15px;
}

.logo {
  height: 70px;
  width: auto;
}

.search-bar {
  display: flex;

  input {
    text-transform: uppercase;
    border: 1px solid $white;
    border-bottom: 1px solid $dark-grey;
    border-radius: 0;
    height: 30px;

    &:focus {
      border: 1px solid $white;
      border-bottom: 1px solid #000;
    }
  }
}

.register-panel {
  a {
    text-transform: uppercase;
    color: $dark-grey;
    text-decoration: none;
    margin: 20px;
  }
}

.select-language {
  &:focus {
    .selection-list {
      display: block;
    }
  }
}

.selection-list {
  position: absolute;
  text-align: center;
  padding: 10px 50px 0;
  display: none;

  ul {
    list-style-type: none;
  }
}

// menu styling

.header-menu {
  padding: 10px 0 0;

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-transform: uppercase;
    font-size: $nav-font;
  }
}

.menu-item {
  display: inline;
  text-decoration: none;
  color: $dark-grey;
  padding: 30px 0;

  &:hover {
    color: $dark-grey;
    border-bottom: 5px solid $yellow;
  }
}

// hero-section
.header-hero {
  margin-top: -3px;
  background-image: url('../images/hero-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  text-align: center;
  color: $white;

  button {
    display: block;
    margin: 20px auto;
  }
}

.heading {
  font-family: 'arimoregular';
  display: flex;
  justify-content: center;

  h1 {
    padding: 40px 30px 0;
    font-size: $large-head-font;
    text-transform: uppercase;
  }
}

.hero-paragraph {
  font-family: 'arimoregular';
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-bottom: 80px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #f00;
  margin: auto;
}

.hero-arrow {
  border-top: 50px solid #000;
}

.icon-menu {
  display: none;
}
