// hero-section
.header-hero {
  position: relative;
  z-index: 1;
  background-image: url('../images/hero-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  text-align: center;
  color: $white;

  button {
    display: block;
    margin: 20px auto;
  }
}

.heading {
  font-family: 'arimoregular';
  display: flex;
  justify-content: center;

  .hero-title {
    padding: 40px 30px 0;
    font-size: $large-head-font;
    text-transform: uppercase;
  }
}

.hero-paragraph {
  font-family: 'arimoregular';
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-bottom: 80px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #f00;
  margin: auto;
}

.icon-menu {
  display: none;
}
