.offer-section {
  font-family: 'arimoregular';
  color: $brand-dark;
  text-align: center;
  position: relative;
  z-index: 1;
  background: $white;
  padding-bottom: 30px;

  .offer-title {
    color: $brand-light;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 100px;
  }

  .column-title {
    text-transform: uppercase;
    font-size: $small-head-font;
    letter-spacing: 1px;
  }
}

.offer-image {
  width: 480px;
  position: relative;
  top: -40px;
  opacity: .3;
  transition: all .3s ease;
}

.offer-row {
  margin-top: 80px;
}

.offer-arrow {
  border-top: 50px solid $light-grey;
}
