@media screen and (max-width: 1068px) {
  .about-bg-color {
    height: 460px;
  }
}

@media screen and (max-width: 760px) {
  .six.columns {
    width: 100%;
  }

  .float-right {
    float: none;
  }

  .about-bg-color {
    text-align: center;
    height: 460px;
  }
}

@media screen and (max-width: 363px) {
  .about-bg-color {
    height: 500px;
  }
}
