@media screen and (max-width: 890px) {

  .search-bar,
  .header-menu,
  .header-section .container {
    display: none !important;
  }

  .header-navigation {
    padding-bottom: 130px;
  }

  .icon-menu {
    display: block !important;
    font-size: 50px;
    color: $brand-light;
  }

  .logo {
    position: absolute;
    top: 40%;
    left: 45%;
    right: 50%;
  }

  .heading {
    display: block !important;
    padding-top: 20px;

    .hero-title {
      padding: 0;
    }
  }

  .hero-paragraph {
    font-size: 14px;
    margin: auto;
  }
}

@media screen and (max-width: 530px) {

  .logo {
    position: absolute;
    left: 37%;
    right: 50%;
  }

  .register-panel  {
    font-size: 9px;
    display: inline-block;
    margin-right: -10px;

    .select-language {
      display: none;
    }

    .register-btn {
      padding: 0;
    }
  }

  .heading {
    display: block !important;
    padding-top: 20px;
    
    .hero-title {
      font-size: 30px;
      padding: 0;
    }
  }

  .header-hero {
    position: relative;
    z-index: 1;
    height: 400px;
  }

  .hero-paragraph {
    display: none;
  }

  .light-btn,
  .light-ghost-btn {
    font-size: 12px;
    width: 200px;
    height: 60px;
  } 
}

@media screen and (max-width: 430px) {

  .search-bar-mobile input {
      font-size: $small-font;
      width: 80px;
      height: 27px;
  }
  
  .selection-list {
    display: none;
  }
}
