@media screen and (max-width: 760px) {
  .info-phone {
    text-align: center;
    margin-left: 0;
  }

  .info-column {
    text-align: center;
  }

  .contact-bar h3 {
    font-size: 20px !important;
  }
}
